@model IEnumerable<FordonOversiktViewModel>

@{
    ViewData["Title"] = "Välkommen";
}

<h1>Åhlens Parkering City</h1>

<p>  
    <a asp-action="Create">Parkera Fordon</a>
</p>
<form asp-action="Filter" asp-controller="ParkeratFordon" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="regnr" placeholder="Sök via Regnr" />
        <div class="input-group-append">
           
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">Sök</i></button>
        </div>
    </div>
</form>
<p class="alert-info"><strong>@TempData["OkParkeraMsg"]</strong></p>

<partial name="ParkListaPartial" />